.bottomSheet {
  position: relative;
  background-color: white;
  border-radius: 30px 30px 0px 0px;
}

.blank {
  height: calc(100vw / 2);
  /* opacity: 0;
  visibility: hidden; */
}
@media (min-width: 600px) {
  .blank {
    height: 300px;
    /* opacity: 0;
    visibility: hidden; */
  }
}

.englishName {
  position: absolute;
  margin-left: 30px;
  top: -12px;
  transform: translateY(-100%);

  color: #fff;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.name {
  padding-top: 24px;
  margin-left: 20px;

  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.bar {
  margin-top: 42px; /* 임시 */
  position: sticky;
  top: 103px;

  width: calc(100% - 40px);
  height: 52px;
  padding: 0 20px 0 20px;
  background: var(--primary-1, #6f90d1);
  overflow-x: auto;
  white-space: nowrap;

  display: flex;
  gap: 10px;
  align-items: center;

  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* 섹션 */
.scrollOffset {
  /* 네비게이션 + 탭 = 56 + 47 = 103*/
  /* 추가 42 */
  padding-top: 145px;
  margin-top: -103px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.scrollOffsetWithBar {
  /* 네비게이션 + 탭 + 바 = 56 + 47 + 52 = 155 */
  /* 추가 21 */
  padding-top: 176px;
  margin-top: -155px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  margin-left: 20px;
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  margin: 10px 20px 0 20px;
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
