.bottomSheet {
  position: relative;
  margin-top: calc(100vw / 2);

  background-color: white;
  border-radius: 30px 30px 0px 0px;
}
@media (min-width: 600px) {
  .bottomSheet {
    margin-top: 300px;
  }
}

.englishTitle {
  position: absolute;
  margin-left: 30px;
  top: -58px;

  color: #000;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.title {
  padding-top: 24px;
  margin-left: 20px;

  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.infoList {
  margin-top: 18px;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info {
  display: flex;
  flex-direction: row;
}

.infoKey {
  margin-left: 8px;

  width: 116px;

  color: #171717;
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.infoValue {
  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subject {
  margin: 22px 0 8px 20px;

  color: #000;
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
