.image {
  position: fixed;
  z-index: -1;

  width: 100%;
  max-width: 600px;
  height: 100vw;
  max-height: 600px;
}

.title {
  position: relative;
  left: 30px;
  top: calc(100vw / 2 - 20px);

  color: #000;
  font-family: Pretendard;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 600px) {
  .title {
    top: 280px;
  }
}
