@import "tailwindcss";

body {
  @apply m-0;
  font-family: "Pretendard", system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer utilities {
  .bg-primary {
    background-color: #5950f6;
  }

  .bg-primary-100 {
    background-color: #efeeff;
  }

  .bg-primary-600 {
    background-color: #6259f7;
  }

  .text-primary {
    color: #5950f6;
  }

  .text-primary-700 {
    color: #4e46d9;
  }

  .bg-k-0 {
    background-color: #ffffff;
  }

  .bg-k-50 {
    background-color: #f5f5f5;
  }

  .bg-k-100 {
    background-color: #dddddf;
  }

  .bg-bg-50 {
    background-color: #fafafa;
  }

  .bg-bg-100 {
    background-color: #f9f9f9;
  }

  .text-k-0 {
    color: #ffffff;
  }

  .text-k-300 {
    color: #aaacaf;
  }

  .text-k-400 {
    color: #919397;
  }

  .text-k-500 {
    color: #76797d;
  }

  .text-k-600 {
    color: #5f6268;
  }

  .text-k-700 {
    color: #484c52;
  }

  .text-k-800 {
    color: #31353d;
  }

  .text-k-900 {
    color: #1a1f27;
  }

  .border-k-100 {
    border-color: #dddddf;
  }

  .border-k-200 {
    border-color: #c6c7c9;
  }

  .border-k-300 {
    border-color: #aaacaf;
  }

  .shadow-sdw-a {
    box-shadow: 0 4px 40px 0 rgba(26, 31, 39, 0.12);
  }

  .typo-bold-1 {
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
  }

  .typo-bold-4 {
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
  }

  .typo-bold-5 {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
  }

  .typo-sb-7 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
  }

  .typo-sb-9 {
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
  }

  .typo-sb-10 {
    font-size: 13px;
    line-height: 150%;
    font-weight: 600;
  }

  .typo-sb-11 {
    font-size: 12px;
    line-height: 150%;
    font-weight: 600;
  }

  .typo-medium-3 {
    font-size: 13px;
    line-height: 150%;
    font-weight: 500;
  }

  .typo-medium-4 {
    font-size: 12px;
    line-height: 150%;
    font-weight: 500;
  }

  .typo-regular-2 {
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
  }

  .typo-regular-3 {
    font-size: 13px;
    line-height: 150%;
    font-weight: 400;
  }

  .typo-regular-4 {
    font-size: 12px;
    line-height: 150%;
    font-weight: 400;
  }
}
