.searchInputs {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 45px 0px rgba(0, 0, 0, 0.15);
}

.searchButton {
  height: 44px;
  width: 100%;
  background-color: var(--primary-1, #6f90d1);
  padding: 0;
  border: 0;
  cursor: pointer;

  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* */
.box {
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  background: #fff;

  display: flex;
  align-items: center;
}

.box .icon {
  margin-left: 22px;
  width: 21px;
  height: 21px;
}

.main {
  margin-left: 28px;

  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
