.tabContainer {
  display: flex;
  gap: 8px;
}

.tab {
  height: 36px;
  padding: 11px 14px 11px 14px;
  box-sizing: border-box;
  background: #e7e7e7;

  color: rgba(0, 0, 0, 0.8);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.154px;

  white-space: nowrap;
}
