.box {
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  background: #fff;

  display: flex;
  align-items: center;
}

.box .icon {
  margin-left: 22px;
  width: 21px;
  height: 21px;
}

.main {
  margin-left: 28px;

  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
