/* College Cards */
.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* College Card */
.card {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 99px;
  margin: 0 20px 0 20px;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  text-decoration-line: none;
}

.card:hover {
  transform: translateY(-2px); /* 위로 2px 이동 */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.space-between {
  display: flex;
  gap: 3px;
}

.image-wrapper {
  display: flex;
  align-items: center;
}

.image {
  width: 60px;
  height: 60px;
  margin-left: 11.72px;
  border-radius: 60px;
  object-fit: cover;
  /* background-color: #d9d9d9; */
  /* content: ""; */
}

/* info */
.info {
  display: flex;
  flex-direction: column;
  margin-left: 15.63px;

  text-decoration-line: none;
}

.name {
  margin-top: 18px;
  /* overflow: hidden; */

  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.country {
  margin-top: 6px;

  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
}

.capacity {
  margin-top: 6px;
  margin-left: 10px; /* 임시 */

  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
}

.requirements {
  display: flex;
  gap: 15.63px;
}

.requirement {
  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
  letter-spacing: 0.15px;
  white-space: nowrap;
}

.right-arrow-icon {
  position: absolute;
  top: 38px;
  right: 9.77px;
  width: 24px;
  height: 24px;
}
