.a {
  text-decoration-line: none;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 16px 19px 16px 20px;
  border-bottom: solid 1px #ececec;
}

.text-zone {
  display: flex;
  flex-direction: column;
}

.meta {
  display: flex;
}

.category {
  overflow: hidden;

  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 21px */
}

.date {
  overflow: hidden;
  margin-left: 10px;

  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.title {
  margin-top: 8px;

  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  overflow: hidden;
  height: 42px; /* 2줄로 자르기 위해 */
  line-height: 150%; /* 21px */
  margin-top: 4px;

  text-overflow: ellipsis;
  word-break: break-all;
  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 4px;
}

.icons > div {
  display: flex;
  gap: 4px;
  align-items: center;
}

.icons span {
  overflow: hidden;

  color: #595959;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.image-zone {
  width: 82px;
  height: 82px;
  margin-top: 11px;
  margin-left: 15px;
  user-select: none;
}

.image-zone > img {
  object-fit: cover;
  border-radius: 6px;
}
