.form {
  margin: 48px 0 0 20px;
}

.desc h1 {
  margin: 0;
  color: #000;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 33px */
}
.desc p {
  margin: 4px 0px 0px 0px;
  color: #4d4d4d;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
}

.input {
  margin: 16px 20px 0 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input label {
  display: block;
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
.input input {
  height: 46px;
  padding: 3px 0 3px 10px;
  box-sizing: border-box;

  border-radius: 7px;
  border: 1px solid #d9d9d9;
  outline: none;

  color: #1d1d1d;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input input:focus {
  border-radius: 7px;
  border: 2.4px solid var(--primary-1, #6f90d1);
}
.input select {
  height: 46px;
  padding: 3px 0 3px 10px;
  box-sizing: border-box;
  background-color: white;

  border-radius: 7px;
  border: 1px solid #d9d9d9;
}

.btns {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}
