.progress {
  display: flex;
  align-items: center;
}

.barContainer {
  width: 100%;
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.bar {
  height: 5px;
  background-color: var(--primary-1);
  border-radius: 10px;
}

.percentage {
  margin-left: 18px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  color: #1e1e1e;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
}
