.screen {
  margin: -56px 20px -56px 20px;
}

.title {
  margin-top: 20px;

  color: #44413d;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
}
