.screen {
  margin-top: -56px;
  margin-bottom: -56px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc {
  margin-left: 20px;
  color: var(--primary-2, #091f5b);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.subDesc {
  margin: 2px 0 0 20px;
  color: var(--primary-1, #6f90d1);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

/* survey1 */
.regionContainer {
  margin: 35px 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 11px;
  row-gap: 40px;
}
.region {
  position: relative;
  padding-bottom: 100%;
  cursor: pointer;
}
.region .imgWrapper {
  width: 100%;
  height: 100%;
}
.region .imgWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%); */
  /* background: lightgray 50% / cover no-repeat; */
  /* background: linear-gradient(0deg, lightgray 0%, lightgray 100%); */
  background-color: rgba(211, 211, 211, 0.25); /* 반투명한 검은색 오버레이 */
}
.region img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.region .name {
  position: absolute;
  margin-top: 5px;
  padding-top: 100%;
  width: 100%;
  text-align: center;

  color: #8a8a8a;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

/* survey2 */
.countries {
  margin: 24px 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}
.country {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.country div {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
}

.btn {
  position: absolute;
  margin-left: 30px;
  width: calc(100% - 60px);
  max-width: 540px;
  height: 50px;
  /* 56 + 18 = 74 */
  bottom: 74px;

  border: none;
  background-color: var(--primary-1, #6f90d1);

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.btn div {
  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* survey3 */
.survey3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  margin-top: 106px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile > .profileImage {
  width: 137px;
  height: 137px;
  border-radius: 100%;
}
.profile > .nickname {
  margin-top: 16px;
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.profile > .info {
  margin-top: 8px;
  display: flex;
  gap: 12px;
  color: #858585;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}

.choiceZone {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choiceZone > .choiceDesc {
  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}
.choices {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  background-color: rgba(196, 221, 255, 0.6);
  color: rgba(9, 31, 91, 0.7);
  font-weight: 500;
}
.choices > div {
  width: 284px;
  height: 47px;
  padding: 12px 0 12px 0;
  box-sizing: border-box;
  text-align: center;

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  line-height: 150%; /* 24px */
  cursor: pointer;
}
.selectedChoice {
  border: 1px solid var(--primary-1, #6f90d1);
  background: white;
  color: var(--primary-2, #091f5b);
  font-weight: 600;
}
