.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 40px 0 51px 0;
}

.role {
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profile-image {
  width: 108px;
  height: 108px;
}

.profile-image img {
  width: 108px;
  height: 108px;
  border-radius: 100%;
  object-fit: cover;
}

.form {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__element {
  display: flex;
  gap: 32px;
}

.form__element > input {
  flex: 1;
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  outline: none;
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__element > div:nth-of-type(1) {
  flex-basis: 56px;
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form__element > div:nth-of-type(2) {
  flex: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
