.modify {
  display: flex;
  flex-direction: column;
}

.profile {
  padding: 40px 0 51px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.role {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.image img {
  width: 108px;
  height: 108px;
  border-radius: 100%;
  object-fit: cover;
}

.formContainer {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  gap: 32px;
}
.form > div:nth-of-type(1) {
  flex-basis: 56px;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.form > div:nth-of-type(2) {
  flex: 1;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
