.profile {
  padding-top: 38px;
  height: 119px;
  display: flex;
  gap: 38px;
}

.imageWrapper {
  margin-left: 20px;
}
.imageWrapper img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  gap: 6px;
}
.name div {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Pretendard";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subInfo {
  margin-top: 4px;
  display: flex;
  gap: 17px;
}
.role {
  color: #717171;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.date {
  color: #717171;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.smText {
  color: #717171;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
