.myStatusTop {
  padding-top: 48px;

  height: 190px;
  display: flex;
  flex-direction: row;
}

.profileImage {
  margin-left: 20px;
}

.image {
  width: 85px;
  height: 85px;
  border-radius: 100%;
}

.myInfo {
  margin-left: 45px;

  display: flex;
  flex-direction: column;
}

.myName {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Abhaya Libre ExtraBold, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.myRoleAndDate {
  margin-top: 4px;

  display: flex;
}

.myRole {
  color: #717171;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.myDate {
  margin-left: 17px;
  color: #717171;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.myCollege {
  margin-top: 11px;

  color: #717171;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.myEmail {
  margin-top: 8px;

  color: #717171;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.myStatusBottom {
  height: 95px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  display: flex;
}

.favoriteBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favoriteTitle {
  position: relative;
  color: #7e7e7e;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.favoriteIcon {
  position: absolute;
  margin-left: 5px;
}

.favoriteContent {
  margin-top: 16px;

  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.category {
  display: flex;
  flex-direction: column;
}

.item {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
}

.itemText {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
