.container {
  height: 125px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  background: rgba(196, 221, 255, 0.2);
  display: flex;
}

.container > a {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;

  text-decoration: none;
}

.subject {
  color: #7e7e7e;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
