@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("/fonts/Pretendard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("/fonts/Pretendard-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("/fonts/Pretendard-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("/fonts/Pretendard-Bold.ttf") format("truetype");
}

body {
  margin: 0;
}

:root {
  --primary-1: #6f96d1;
  --primary-2: #091f5b;
  --secondary-1: #c4ddff;
  --secondary-2: #f2f1df;
}
