.card {
  text-decoration: none;
  margin-right: 20px;

  height: 102px;
  display: flex;
  align-items: center;

  padding-left: 15.63px;

  border-radius: 6px;
  background: rgba(111, 144, 209, 0.1);
}

.image {
  width: 58.601px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}

.contentWrapper {
  margin-left: 17.51px;

  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentName {
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.15px;
}

.contentRegion {
  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  letter-spacing: 0.15px;
}

.contentPeriod {
  color: #949494;
  text-align: right;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 15.4px */
  letter-spacing: 0.15px;
}

.contentIcon {
  margin: auto 9.77px auto 0;
}
