.topNav {
  position: fixed;
  top: 0px;

  width: 100%;
  max-width: 600px;
  height: 56px;

  background-color: var(--primary-1, #6f90d1);

  /* Elevation/2 */
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 15px 0 0 20px;

  color: var(--secondary-2, #f2f1df);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.15px;
}
