.card {
  position: relative;
  margin: 0 16px 0 16px;
  height: 105px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #f6f6f6;
}

.image {
  position: absolute;
  top: 23px;
  left: 16px;

  width: 60px;
  height: 60px;
  border-radius: 70%;
  background-color: #d9d9d9;
  content: "";
}

.info {
  margin-left: 97px;
}

.name {
  position: absolute;
  top: 12px;
  margin: 0 0 0 0;

  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  letter-spacing: 0.15px;
}

.country {
  position: absolute;
  top: 40px;
  margin: 0 0 0 0;

  color: #7c7c7c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 19.5px */
  letter-spacing: 0.15px;
}

.requirements {
  position: absolute;
  top: 73px;
  margin: 0 0 0 0;

  color: #7c7c7c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18px */
  letter-spacing: 0.15px;
}

.rightArrow {
  position: absolute;
  top: 41px;
  right: 10px;

  width: 24px;
  height: 24px;
}
