.home {
  padding: 24px 0 0 20px;
}
.home a {
  text-decoration: none;
}

.searchButton {
  padding: 6px 0 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  border: 1px solid var(--primary-1, #6f90d1);

  color: var(--primary-1, #6f90d1);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 10px;

  color: #44413d;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* banner */
.banner {
  position: relative;
  display: block;
  margin-top: 18px;
  margin-right: 20px;

  height: 54px;
  background: var(--primary-2, #091f5b);
}

.bannerImage {
  width: 100%;
  height: 54px;
  object-fit: cover;
}

.bannerTextWrapper {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerText {
  margin-left: 14px;
  color: #fff;
  font-family: Pretendard, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bannerIcon {
  margin-right: 14px;
}

/* CollegeSearch */
.college-search {
  margin-right: 20px;
}

.search-container {
  display: flex;
  align-items: center;

  padding-right: 16px;
  border-radius: 8px;
  background: #f7f7f7;
}

.search-container > input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: #f7f7f7;

  color: #a8a8a8;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.35px;
  text-transform: uppercase;
}

.search-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

/* search-banner */
.search-banner {
  display: flex;
  justify-content: space-between;
  gap: 23px;

  margin-top: 15px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 8px;
  background: #f0f5ff;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.search-banner__left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.search-banner__title {
  margin-top: 6px;

  color: #497fe2;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
}

.search-banner__description {
  color: #353535;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
}

/* application-banners */
.application-banners {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-right: 20px;
}

.score-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 10px 5px 5px 10px;
  border-radius: 8px;
  background: #fff3e5;
}

.score-banner__title {
  color: #ff670a;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

.score-banner__description {
  margin-top: 2px;

  color: #353535;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
}

.score-banner__icon {
  display: flex;
  justify-content: flex-end;
}

.applicant-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 10px 5px 5px 10px;
  border-radius: 8px;
  background: #e9f7ec;
}

.applicant-banner__title {
  color: #339660;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

.applicant-banner__description {
  margin-top: 2px;

  color: #353535;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 15px */
}

.applicant-banner__icon {
  display: flex;
  justify-content: flex-end;
}
