.wrapper {
  margin: 24px 0 0 20px;
}
.wrapper a {
  text-decoration: none;
}

.h1 {
  color: #000;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.searchButton {
  padding: 6px 0 6px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  border: 1px solid var(--primary-1, #6f90d1);

  color: var(--primary-1, #6f90d1);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.title {
  margin-bottom: 10px;

  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* banner */
.banner {
  position: relative;
  display: block;
  margin-top: 18px;
  margin-right: 20px;

  height: 54px;
}

.bannerImageWrapper {
  position: relative;
  width: 100%;
  height: 54px;
}
.bannerImageWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.bannerImage {
  width: 100%;
  height: 54px;
  object-fit: cover;
}

.bannerTextWrapper {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bannerText {
  margin-left: 14px;
  color: var(--secondary-2, #f2f1df);
  font-family: Pretendard, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bannerIcon {
  margin-right: 14px;
}
