/* HomeCollegeCards */
.container {
  overflow-x: auto;
}

.items {
  display: flex;
  gap: 8px;
}

/* HomeCollegeCard */
.card {
  position: relative;
  width: 153px;
  /* height: 120px; */
}

.imageWrapper {
  position: relative;
  width: 153px;
}
.imageWrapper::before {
  content: "";
  position: absolute;
  height: 120px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.27%, rgba(0, 0, 0, 0.4) 100%);
  z-index: 1;
}

.name {
  position: absolute;
  left: 10px;
  bottom: 9px;
  z-index: 10;

  color: white;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.15px;
}
