.container {
  overflow-x: auto;
  display: flex;
  gap: 8px;
}
/* NewsCard */
.card {
  width: 180px;
  display: flex;
  flex-direction: column;
}

.image {
  height: 120px;
}

.title {
  margin-top: 6px;

  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
}
