.onboardingImages {
  margin-top: -56px;
}

.onboardingImages .item {
  position: relative;
}

.onboardingImages .imageWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.1);
}
.onboardingImages img {
  width: 100%;
  /* height: 439px; */
  height: 72vh;
  object-fit: cover;
}

.onboardingImages .text {
  position: absolute;
  width: 100%;
  /* top: 338px; */
  bottom: 53px;
  left: 50%;
  transform: translate(-50%, 0);

  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
