.post {
  padding: 24px 0 12px 20px;
}

.category {
  display: inline-flex;
  padding: 5px 12px;
  border-radius: 100px;
  background: var(--primary-1, #6f90d1);

  color: #fff;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}

.title {
  margin-top: 16px;

  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  overflow: hidden;
  margin-top: 12px;
  margin-right: 20px;
  white-space: pre-wrap;
  color: #1a1a1a;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

/* Image */
.single-image-container {
  padding-right: 20px;
  margin-bottom: 12px;
}

.single-image-wrapper {
  position: relative;
  padding-top: 75%; /* 4:3 Aspect Ratio (3 / 4 = 0.75) */
}

.image-scroll-container {
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤 */
}

.image-scroll-content {
  display: flex;
  gap: 12px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.like {
  cursor: pointer;
}

.icons > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icons span {
  overflow: hidden;

  color: #595959;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

/* author */
.author {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 12px 20px 12px 20px;
}

.author__info {
  display: flex;
  gap: 10px;
}

.author__profile-image-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #d9d9d9;
}

.author__profile-image-wrapper > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.author__textzone {
  display: flex;
  flex-direction: column;
}

.author__name {
  overflow: hidden;

  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.author__created-at {
  overflow: hidden;

  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.author button {
  display: inline-flex;
  align-items: center;
  height: 31px;
  margin-top: 5px;
  padding: 5px 12px;
  border: none;
  border-radius: 100px;
  background: #f0f0f0;

  cursor: pointer;

  color: #a2a2a2;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 20.8px */
  letter-spacing: 0.15px;
}

/* ImagePopup */
.fullscreen-popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: black;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background: rgba(255, 255, 255, 0.15);
}

.popup__close-button {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  padding: 0 0 0 0;
  border: none;
  background: none;

  cursor: pointer;
}

.popup__title {
  margin-right: 24px;

  color: rgba(255, 255, 255, 0.87);
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
}

.popup__image-container {
  flex-grow: 1;
  position: relative;
}
