.post {
  margin-left: 20px;
  padding: 24px 0 12px 0;
  /* display: flex;
  flex-direction: column; */

  border-bottom: 1px solid #ececec;
}

.category {
  padding: 5px 12px;
  border-radius: 100px;
  background: var(--primary-1, #6f90d1);

  display: inline-flex;

  color: #fff;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}

.title {
  margin-top: 16px;

  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  margin-top: 12px;
  margin-right: 20px;

  overflow: hidden;
  color: #1a1a1a;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

/* Image */
.image {
  padding-right: 20px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.image-scroll-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* iOS에서 부드러운 스크롤 */
}

.image-scroll-content {
  display: flex;
  gap: 12px;
}

.icons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.icons > div {
  display: flex;
  gap: 4px;
  align-items: center;
}
.icons span {
  overflow: hidden;
  color: #595959;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

/* author */
.author {
  height: 40px;
  padding: 12px 20px 12px 20px;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
}
.authorInfo {
  display: flex;
  gap: 10px;
}
.authorProfileImage {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #d9d9d9;
}
.authorText {
  display: flex;
  flex-direction: column;
}
.authorName {
  overflow: hidden;
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
.createDate {
  overflow: hidden;
  color: #7c7c7c;
  font-feature-settings:
    "clig" off,
    "liga" off;
  text-overflow: ellipsis;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

.author button {
  margin-top: 5px;
  height: 31px;
  padding: 5px 12px;
  border: none;
  border-radius: 100px;
  background: #f0f0f0;
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  color: #a2a2a2;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 20.8px */
  letter-spacing: 0.15px;
}
