.form {
  margin-top: 10px;
}

.submit-button {
  width: 49px;
  padding: 5px 12px;
  border: none;
  border-radius: 100px;
  background: var(--primary-1, #6f90d1);
  cursor: pointer;

  color: #fff;
  font-feature-settings:
    "liga" off,
    "clig" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
}

.title {
  border-bottom: 1px solid #ececec;
  transition: height 0.2s ease;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ececec;
}

.title textarea {
  width: 100%;
  padding: 20px 20px 10px 20px;
  box-sizing: border-box;
  border: none;
  outline: none;
  resize: none; /* 사용자가 크기를 조절할 수 없게 함 */
  overflow: hidden; /* 스크롤바 제거 */
  transition: height 0.2s ease;

  color: rgba(124, 124, 124, 0.87);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 28.8px */
}
.question {
  height: 24px;
  border-bottom: 1px solid #ececec;
  padding: 10px 0 10px 18px;
}

.question__select {
  color: rgba(124, 124, 124, 0.87);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */

  display: flex;
  gap: 4px;
  align-items: center;
}

.question__box {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.content textarea {
  width: 100%;
  height: 360px;
  box-sizing: border-box;
  margin-top: 16px;
  padding: 0px 20px 0 20px;
  border: none;
  outline: none;
  resize: none;

  color: rgba(124, 124, 124, 0.87);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.notice {
  padding: 10px 20px 0 20px;
  color: #8d8d8d;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 19.2px */
}
