name: Build and Vercel Production Deployment on Main
permissions:
  contents: write

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_ENV: production

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  generate_tag:
    uses: ./.github/workflows/headver-tagging.yml
    with: {}

  Deploy-Production:
    runs-on: ubuntu-latest
    needs: generate_tag
    env:
      VERSION_TAG: ${{ needs.generate_tag.outputs.version }}
    steps:
      - uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Install Vercel CLI
        run: pnpm add --global vercel@latest

      - name: Clean Vercel Directory
        run: rm -rf .vercel

      - name: Pull Vercel Environment Information
        run: |
          vercel pull \
            --yes \
            --environment=${{ env.VERCEL_ENV }} \
            --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: |
          vercel build \
            --yes \
            --target=${{ env.VERCEL_ENV }} \

            --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: |
          vercel deploy \
            --prebuilt \
            --target=${{ env.VERCEL_ENV }} \

            --token=${{ secrets.VERCEL_TOKEN }}

      - name: Output Tag Version
        run: echo "Deployment completed for version $VERSION_TAG"

        