name: Build and Vercel Preview Deployment on Main
permissions:
  contents: write

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
  VERCEL_ENV: preview

on:
  push:
    branches:
      - main
      - chore/tag-cd

jobs:
  generate_tag:
    uses: ./.github/workflows/headver-tagging.yml # 태깅 워크플로우 실행
    with: {}

  Deploy-Preview:
    runs-on: ubuntu-latest
    needs: generate_tag
    env:
      VERSION_TAG: ${{ needs.generate_tag.outputs.version }}
    steps:
      - uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=${{ env.VERCEL_ENV }} --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --yes --target=${{ env.VERCEL_ENV }} --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --target=${{ env.VERCEL_ENV }} --token=${{ secrets.VERCEL_TOKEN }}

      - name: Output Tag Version
        run: echo "Deployment completed for version $VERSION_TAG"
