.tabContainer {
  width: calc(100% - 18px);
  display: flex;
  flex-direction: row;
  gap: 8px;

  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */

  white-space: nowrap;
  overflow-x: auto;
}

.tabButton {
  padding: 5px 12px;
  border-radius: 100px;
  cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
}
