.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* 부모 요소의 하단에 위치 */
  right: 0;
  z-index: 1000; /* 다른 요소 위에 나타나도록 */
  width: 148px;
  border-radius: 8px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
}

.dropdown__item {
  height: 39px;
  padding: 8px 12px;
  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  cursor: pointer;
}

.dropdown__item:first-child {
  border-radius: 8px 8px 0 0; /* 첫 아이템에만 border-radius 적용 */
}

.dropdown__item:last-child {
  border-bottom: none; /* 마지막 아이템에는 보더를 제거 */
  border-radius: 0 0 8px 8px; /* 마지막 아이템에만 border-radius 적용 */
}

.dropdown__item:first-child:last-child {
  border-radius: 8px; /* 단일 아이템인 경우 전체 코너에 border-radius 적용 */
  border-bottom: none; /* 단일 아이템일 경우 하단 보더 제거 */
}
