.tabContainer {
  width: calc(100% - 18px);
  display: flex;
  flex-direction: row;

  background: #f9f9f9;

  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  white-space: nowrap;
  overflow-x: auto;
}

.tabButton {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid var(--secondary-2, #f2f1df);
}
.tabButtonActive {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-bottom: 2px solid var(--primary-1, #6f90d1);
}
