.tabContainer {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  cursor: pointer;
}

.tabButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.tabButtonActive {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-bottom: 2px solid var(--primary, #4672ee);
}
