.wrapper {
  position: fixed;
  z-index: -3;
  top: 56px;
  width: 100%;
  height: 100vw;
}

.imageWrapper {
  position: absolute;
  z-index: -2;

  width: 100%;
  max-width: 600px;
  height: 67vw;
  max-height: 400px;
}

/* .imageWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 33.85%, rgba(0, 0, 0, 0.6) 86.98%);
  z-index: 1;
} */
